<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <h1 style="color: blue"><%= kindOfDay %></h1>

      <ol>
        <!-- <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat</li> -->

        <% for(var i = 0; i < newActivity.length; i++){ %>
          <li><%= newActivity[i] %></li>

        <% } %>

      </ol>

    <form class="" action="/" method="post">
      <input type="string" name="newItem" value="" placeholder="Enter Activity">
      <button type="submit">Submit</button>

    </form>


  </body>
</html>
