<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <style media="screen">

  </style>
  <body>
    <div class="box" id="heading">
      
      <h1><%= listTitle %></h1>
    </div>


<div class="box">


        <% for(let i = 0; i < newActivity.length; i++){ %>
          <div class="item">
            <input type="checkbox">
          <p><%= newActivity[i] %></p>
          </div>

        <% } %>


      <form class="item" action="/" method="post">
        <input type="string" name="newItem" value="" placeholder="Enter Activity" autocomplete="off"required>
        <button type="submit">+</button>

      </form>
</div>



  </body>
</html>
